#outer {
    width: 100%;
    padding: 0;
    margin: 0 auto;
}

#main {
    margin: 0;
    padding: 0px;
}

#menu-main {
    margin: 0;
    padding: 0px;
}

#titleImg {
    width: 100%;
    max-width: 500px;
    margin: auto;
    display: block;
}

#tagLine {
    margin: 0;
    padding: 0 10px 6px 0;
    font-size: 16pt;
}

.skyscraper {
    height: 600px;
    width: 160px;
    margin-top: 20px;
}

#right {
    text-align: center;
    width: 160px;
    padding: 6px 0 0 0;
    margin: 0 0 0px 10px;
    float: right;
}

#left {
    text-align: center;
    width: 160px;
    padding: 6px 0 0 0;
    margin: 0;
    float: left;
    margin: 0 10px 0px 0px;
}

#contents {
    display: inline;
}

#menu {}

#menu h2 {
    display: inline-block;
    padding: 0 0px 0 0;
    font-size: 14pt;
    text-align: center;
    margin: 10px;
    width: 140px;
    position: relative;
    background: #fefefe;
    border-radius: 2px;
    min-height: 141px;
    box-shadow: 0px 0px 2px #cccccc;
}

#menu h2 IMG {
    border: none;
    width: 140px;
    border-radius: 2px;
}

#menu h2 span {
    height: 46px;
    position: absolute;
    bottom: 4px;
    left: 4px;
    right: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#menu h2 a {
    text-decoration: none;
    color: #000000;
}

#menu a:hover {
    background: #ffffff;
    color: #1c7a6d;
}



hr {
    border: 0;
    width: 60%;
    color: #000080;
    background-color: #000080;
    height: 1px;
}

.homepage_intro {
    margin: 10px 6px 0 6px;
}

.article {
    text-align: left;
    background: #ffffff;
    padding: 6px;
    max-width: 800px;
    margin: auto;
}

.message {
    border: 1pt solid #666666;
    margin: 10px auto;
    width: 90%;
    max-width: 300px;
    background: #ffffff;
    padding: 10px;
}

.message_wide {
    border: 1pt solid #666666;
    margin: 10px auto;
    width: 90%;
    max-width: 500px;
    background: #ffffff;
    padding: 10px;
}

.main_signup_form {
    margin: 10px auto 20px auto;
    max-width: 90%;
    width: 640px;
    background: #ffffff;
    padding: 2px 6px 6px 6px;
    font-size: 14pt;
    border-radius: 10px;
    text-align: center;
}

.main_signup_form input[type=submit] {
    font-size: 16pt;
    padding: 2px 6px;
}

.suggest_form {
    border: 1pt solid #666666;
    margin: 6px auto;
    max-width: 90%;
    width: 300px;
    background: #ffffff;
    padding: 6px;
    font-size: 10pt;
    clear: both;
}

.suggest_form h4 {
    padding: 0;
    margin: 0;
}

.suggest_form input[type=submit] {
    font-size: 14pt;
}

.inner {
    padding: 10px;
}

.desc {
    font-size: 14pt;
    font-weight: bold;
    padding: 4px;
}

#lower_buttons {
    display: block;
}

#options {
    float: right;
    background: #ffffff;
    width: 300px;
    padding: 0px;
    margin: 0 0 0 10px;
    max-width: 90%;
    font-size: 10pt;
    text-align: center;
}

#options_mobile {
    display: none;
    background: #ffffff;
    width: 300px;
    padding: 0px;
    max-width: 90%;
    font-size: 10pt;
    text-align: center;
    float: none;
    margin: 4px auto;
}

.social_toolbar {
    margin: 2px 0;
    height: auto;
    text-align: center;
}

.social_toolbar div {
    font-size: 10pt;
    width: 76px;
    height: 19px;
    text-decoration: none;
    padding: 4px 3px 2px 3px;
    color: #ffffff;
    display: inline-block;
    margin: 2px 2px;
    border-radius: 2pt;
    cursor: pointer;
}

.social_toolbar div img {
    float: left;
    height: 16px;
    margin: 0 0 0 2px;
}

.social_toolbar .fa {
    text-align: center;
    text-decoration: none;
    float: left;
    margin: 1px 0 0 4px;
    display: inline;
    color: #ffffff;
}

#follow_bar .fa {
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    font-size: 24px;
}

#suggestions {
    margin: 6px auto;
    text-align: center;
    border-radius: 4px;
    background: #ffffff;
    padding: 6px;
    max-width: 560px;
    display: inline-block;
    border-top: #2AC5D6 solid 3pt;
}

#suggestions_wide {
    margin: 6px auto;
    text-align: center;
    border-radius: 4px;
    background: #ffffff;
    padding: 6px;
    display: inline-block;
    border-top: #2AC5D6 solid 3pt;
}

#suggestions div,
#suggestions_wide div {
    display: inline-block;
    padding: 6px;
    margin: 2px;
    max-width: 160px;
    vertical-align: top;
}

#suggestions div p,
#suggestions_wide div p {
    height: 66px;
    margin-top: 0px;
    font-size: 0.9em;
}

#suggestions div img,
#suggestions_wide div img {
    max-width: 140px;
}

#suggestions_right {
    margin: 0px auto;
    text-align: center;
    padding: 10px 0;
    display: none;
}

#suggestions_right h3 {
    font-size: 12pt;
}

#suggestions_right div {
    border-radius: 4px;
    display: inline-block;
    padding: 0px;
    margin: 0px;
    max-width: 140px;
    vertical-align: top;
    background: #ffffff;
}

#suggestions_right div p {
    margin: 0px;
    font-size: 0.9em;
}

#suggestions_right div img {
    width: 140px;
}

.fa:hover {
    opacity: 0.7;
}

.twitter_button {
    background: #1c9ceb;
}

.facebook_button {
    background: #034896;
}

.pinterest_button {
    background: #ca0610;
}

.reddit_button {
    background: #ff4500;
}

.plus_button {
    background: #c53419;
}

.tumblr_button {
    background: #33465d;
}

.email_button {
    background: #4B0082;
}

.collect {
    max-width: 380px;
    padding: 6px;
    margin: 12px auto;
    text-align: center;
    background: #dedede;
}

.collect_small {
    font-size: 9pt;
    padding: 1px;
    margin: 0;
}

.sn_icons {
    width: 300px;
    margin: 12px auto 0px auto;
    text-align: center;
    border: none;
    height: 90px;
    display: inline-block;
}

.other_icon {
    float: left;
    width: 100px;
    padding: 10px 0px;
    text-align: center;
}

.facebook_icon {
    float: left;
    width: 100px;
    padding: 10px 0px;
}

.shareHead {
    text-align: center;
    padding: 2px;
    margin: 0;
    font-weight: bold;
}

.fb-share {
    width: 300px;
    border: 1pt #4864b4 solid;
    margin: 10px auto;
    text-align: center;
    position: relative;
}

.create_form_submit {
    min-height: 60px;
    width: auto;
    font-size: 20pt !important;
    white-space: normal;
}

#new {
    font-size: 30pt;
    padding: 2px 10px;
}

#like_this {
    font-size: 16pt;
    white-space: normal;
    margin: 10px auto;
    padding: 2px 10px;
}

.card_game_image_display_page {
    width: 600px;
    margin: auto;
    max-width: 90%;
}

.card_game_image_medium {
    display: block;
    max-width: 500px;
}

.card_game_image_small {
    display: none;
    width: 300px;
    margin: auto;
    max-width: 90%;
}

#custom-side-ad-right {
    width: 160px;
    height: 600px;
    display: none !important;
}

.responsive-right {
    width: 160px;
    height: 600px;
    display: none !important;
    margin-top: 10px;
    position: relative;
    z-index: 10 !important;
}

.responsive-right-2 {
    width: 160px;
    height: 600px;
    display: none !important;
    position: relative;
    z-index: 10 !important;
}

#right_menu {
    display: none !important;
}

.responsive-left {
    width: 160px;
    height: 600px;
    display: none !important;
    margin-top: 10px;
    position: relative;
    z-index: 10 !important;
}

.left_list {
    display: none;
    font-size: 10pt;
    text-align: left;
    padding: 0px 2px;
    margin: 0 0 20px 0;
    list-style-type: none;
}

.left_list li {
    padding: 2px 0;
}

#right h4,
#left h4 {
    padding: 10px 0 0 0;
    margin: 0;
    display: none;
}

.responsive-leader-top {
    width: 728px;
    height: 90px;
    margin: 10px auto auto auto;
    display: none !important;
    position: relative;
    z-index: 10 !important;
}

.responsive-leader-middle {
    width: 728px;
    height: 90px;
    margin: 10px auto auto auto;
    display: none !important;
    position: relative;
    z-index: 10 !important;
}

.responsive-leader {
    max-width: 728px;
    height: 90px;
    margin: auto;
    display: none !important;
    position: relative;
    z-index: 10 !important;
}

.responsive-mobile-banner-top-parent {
    display: none !important;
    margin: 0px auto 10px auto;
    position: relative;
    z-index: 10 !important;
}

.responsive-mobile-banner-top {
    width: 300px;
    height: 50px !important;
    max-height: 50px !important;
    margin: 10px auto auto auto;
    display: none !important;
    position: relative;
    z-index: 10 !important;
}

.responsive-mobile-banner {
    width: 300px;
    height: 50px;
    margin: auto;
    display: none !important;
    position: relative;
    z-index: 10 !important;
}

.responsive-mobile-big-1 {
    width: 300px;
    height: 260px;
    float: left;
    display: none !important;
    padding: 0;
    overflow: hidden;
    margin: 10px auto;
    position: relative;
    z-index: 10 !important;
}

.responsive-mobile-big-2 {
    width: 300px;
    height: 250px;
    float: left;
    display: none !important;
    margin: 10px auto;
    position: relative;
    z-index: 10 !important;
}

.responsive-handheld-lower {
    width: 300px;
    height: 280px;
    display: none !important;
    margin: 10px auto;
    text-align: center;
    position: relative;
    z-index: 10 !important;
}

.local-banner {
    display: none;
}

#follow_bar {
    width: 100%;
    padding: 10px 0;
}

#follow_bar div {
    font-size: 16pt;
    width: 36px;
    height: 32px;
    text-align: center;
    text-decoration: none;
    padding: 8px 3px 2px 3px;
    color: #ffffff;
    display: inline-block;
    margin: 2px 2px;
    border-radius: 2pt;
}

.disclaimer {
    padding: 0 0 20pt 0;
    margin: 0;
    background-color: #000000;
    color: #ffffff;
    font-size: 12pt;
    width: 100%;
}

.choices {
    margin: 4px auto;
}

#lower_desc {
    margin: 0 10px;
}

#lower {
    display: none;
}

.lower_link {
    font-size: 12pt;
    font-weight: normal;
}

.lower_link a {
    text-decoration: none;
}

.how_to {
    list-style-type: none;
    padding: 2px;
}


select {
    margin: 4px 0;
    font-size: 18pt;
    background: #ffffff;
    font-family: Assistant, Verdana, sans-serif;
    max-width: 96%;
    border: 1pt solid #cccccc;
}

textarea {
    margin: 4px 0;
    font-size: 18pt;
    font-family: Assistant, Verdana, sans-serif;
    padding: 1px 4px;
}

.contest textarea {
    width: 90%;
    height: 100px;
}

.sizeTiny {
    width: 80px;
}

.sizeSmall {
    width: 120px;
}

.sizeMedium {
    width: 180px;
}

.sizeLarge {
    width: 260px;
    max-width: 96%;
}

input[type=submit] {
    -webkit-appearance: none;
    color: #ffffff;
    background-color: #00605d;
    font-size: 20pt;
    padding: 1px 10px;
    margin: 0 0 0 0;
    border: none;
    -moz-border-radius: 28px;
    -webkit-border-radius: 28px;
    border-radius: 28px;
    font-family: Assistant, Helvetica, sans-serif;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #2AC5D6;
}

#save {
    font-size: 12pt;
    width: 90px;
}

#publish {
    font-size: 32pt;
    width: 150px;
    margin: 2px 20px 6px 2px;
}

#discard {
    font-size: 18pt;
    background-color: #c12f46;
    width: 90px;
}

#report {
    font-size: 16pt;
    background-color: #c12f46;
    padding: 1px 10px;
}

.up_down {
    font-size: 30pt;
    border: none;
}

.up_down_form {
    display: inline-block;
}

.down {
    color: #c12f46;
}

.up {
    color: #43972f;
}

.up_down_data {
    margin: 6px auto;
}

#reactions {
    margin: 10px auto 20px auto;
}

#outer_not_found {
    max-width: 400px;
    padding: 0;
    margin: 10px auto;
    background-color: #fefefe;
    text-align: center;
}

#main_not_found {
    margin: 0;
    padding: 10px;
    float: left;
    max-width: 380px;
    background-color: #fefefe;
}

.perm {
    font-size: 10pt;
    margin: 1px 0 10px 0;
    text-align: center;
}

.perm a {
    text-decoration: none;
}

#powered_by {
    width: 90%;
    font-size: 11pt;
    max-width: 200px;
    margin: 10px auto;
    border-top: 1pt solid #000000;
    border-bottom: 1pt solid #000000;
    padding: 1px 3px;
    text-align: left;
    clear: both;
}

#powered_by h4 {
    margin: 0;
    padding: 0;
    line-height: 1em;
}

#powered_by img {
    float: right;
    padding: 2px 2px 2px 10px;
    height: 26px;
}

.custom_ads_label {
    color: #000000;
    padding-top: 14px;
    padding-bottom: 0px;
    font-size: 9pt;
}

.custom_sidebar_ad_box {
    max-width: 140px;
    padding: 8px 0;
    margin: 6px auto;
    color: #333333;
    background: #ffffff;
    border-radius: 4px;
    font-size: 9pt;
}

.custom_sidebar_ad_box a {
    text-decoration: none;
}

.custom_sidebar_ad_box h4 {
    padding: 6px 1px 1px 1px;
    margin: 0;
    font-weight: normal;
    font-size: 11pt;
}

.custom_sidebar_ad_box h4 a {
    color: #366ac9;
}

.custom_sidebar_ad_box p {
    padding: 2px 1px 7px 1px;
    margin: 0;
}

.custom_sidebar_ad_box IMG {
    max-width: 90%;
    padding: 2px;
    border: none;
    border-radius: 4px;
    ;
}

.also_thumb_container {
    display: inline-block;
    padding: 0 0px 0 0;
    font-size: 11pt;
    text-align: center;
    margin: 10px;
    width: 100px;
    position: relative;
    background: #ffffff;
    border-radius: 4px;
    min-height: 111px;
}

.also_thumb_container IMG {
    border: none;
    width: 100px;
    height: 63px;
    border-radius: 2px;
}

.also_thumb_container div {
    height: 40px;
    position: absolute;
    bottom: 5px;
    left: 5px;
    right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.also_thumb_container a {
    text-decoration: none;
}

.create_iAssistanto {
    margin: 10px auto;
}

.create_intro {
    margin: 10px auto;
}

.right_side_other_generators {
    width: 160px;
    height: 40px;
    text-align: center;
    overflow: hidden;
    background: #ffffff;
    margin: 2px auto;
    border-top-left-radius: 10px;
}

.right_side_other_generators span {
    vertical-align: middle;
    line-height: 36px;
}

.snippet {
    max-width: 800px;
    text-align: left;
    margin: auto;
    padding: 6px 6px;
}

.about_aardgo {
    max-width: 800px;
    text-align: left;
    margin: auto;
    padding: 6px 6px;
    font-size: 12pt;
}

.spam_check {
    display: none;
}

#comments {
    width: 96%;
    max-width: 600px;
    margin: auto;
    text-align: left;
}

#comments input[type=submit] {
    font-size: 16pt;
}

#comments h4 {
    border-bottom: 1pt solid #cccccc;
    margin: 4px 0;
}

#comments textarea {
    width: 90%;
}

#comments input[type=text] {
    max-width: 400px;
}

#comments .comment_date {
    font-size: 10pt;
    color: #666666;
    font-style: italic;
}

#comments p {
    margin: 4px 0;
    padding: 0px 0;
}

#comment {
    margin: 0px auto;
    padding: 4px 0 14px 0;
}

.comment {
    margin: 10px auto;
    padding: 4px 0;
}

.top_note {
    text-align: left;
    font-size: 12pt;
    margin-top: 20px;
    margin-bottom: 6px;
}

.not_saved {
    background: turquoise;
    padding: 0px 6px;
}

.family_warning {
    margin: 6px auto;
    text-align: center;
    font-size: 12pt;
    padding: 6px 0;
}

#search_outer {
    background-color: #ffffff;
    margin: auto;
    width: 1000px;
    max-width: 98%;
    text-align: left;
    font-size: 0.9em;
}

#search_outer h3 {
    font-size: 14pt;
    padding: 0px 0 0 0;
    margin: 0;
}

#search_outer .url {
    font-size: 10pt;
}

#search_outer form {
    margin: auto;
    display: inline-block;
}

.search_result {
    padding: 6px;
    margin: 6px auto 8px auto;
    min-height: 100px;
}

#search_outer .thumb {
    float: left;
    margin: 4px 10px 0 0;
    width: 140px;
    height: 88px;
}

#search_outer .info {
    font-size: 12pt;
    font-weight: normal;
}

#search_outer .no_results {
    text-align: center;
    font-weight: bold;
    margin: 20px auto;
    font-size: 1.5em;
}

#search_outer .mean {
    margin: 10px auto;
}

#header {
    width: 100%;
    background: #534258;
    height: 38px;
    margin: 0 0 2px 0;
    position: relative;
}

#header .brand {
    float: left;
    color: #ffffff;
    font-size: 14pt;
}

#header .logo {
    padding: 0px 0 0 3px;
}

#header .icon {
    color: #2AC5D6;
    padding: 0px 5px;
}

#header .brand_text {
    position: relative;
    top: -8px;
    letter-spacing: 2px;
    font-family: 'Raleway', Verdana, sans-serif;
}

#search_form {
    margin: auto;
    padding: 0;
    font-size: 11pt;
    position: absolute;
    right: 10px;
}

#search_form input[type=text] {
    font-size: 11pt;
    height: 18pt;
    width: 180px;
    -webkit-appearance: none;
}

#search_form button {
    font-size: 11pt;
    height: 20pt;
    width: 40px;
    background-color: #2AC5D6;
}

.fa-search:before {
    content: "Go";
}

#review_form {
    padding: 0;
    margin: 0;
}

#review_form textarea {
    width: 90%;
    max-width: 500px;
    height: 200px;
}

#review_form .star {
    font-size: 20pt;
}

#review_form .small {
    font-size: 12pt;
}

#loading_overlay {
    display: none;
    font-size: 12pt;
    box-shadow: 0px 0px 15px #364275;
    margin: auto;
    max-width: 300px;
    max-height: 230px;
    background-color: #fff;
    color: #000;
    text-align: center;
    z-index: 5;
    width: 90%;
    height: 50%;
    padding: 20px;
    border-radius: 20px;
}

.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin: auto;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.qc-cmp-persistent-link {
    display: none !important;
}

@media (min-width:1095px) {
    #outer {
        max-width: 1724px;
    }
    .create_page,
    .display_page {
        max-width: 1424px !important;
    }
    #main {
        max-width: 900px;
        margin: auto;
    }
    .responsive-right {
        display: block !important;
    }
    #suggestions_right {
        display: block;
    }
    #right_menu {
        display: block !important;
    }
    .responsive-left {
        width: 160px;
        height: 600px;
        display: block !important;
    }
    .left_list {
        display: block;
    }
    #left h4,
    #right h4 {
        display: block;
    }
    .responsive-leader-top {
        display: block !important;
        width: 728px;
    }
    .responsive-leader-middle {
        display: block !important;
    }
}

@media (max-width:1250px) {
    h1#retro,
    h2#retro {
        font-size: 25pt !important;
        letter-spacing: 8px;
    }
    .profile_page h1#retro,
    .profile_page h2#retro {
        font-size: 24pt !important;
    }
}

@media (min-width:970px) and (max-width:1095px) {
    #outer {
        max-width: 1024px;
    }
    #main {
        margin: 0 160px 0 160px;
    }
    .responsive-right {
        display: block !important;
    }
    #suggestions_right {
        display: block;
    }
    #right_menu {
        display: block !important;
    }
    .responsive-left {
        width: 160px;
        height: 600px;
        display: block !important;
    }
    .left_list {
        display: block;
    }
    #left h4,
    #right h4 {
        display: block;
    }
    .responsive-leader-top {
        display: block !important;
        width: 600px !important;
    }
    .responsive-leader-middle {
        display: block !important;
        width: 600px !important;
    }
}

@media (min-width:760px) and (max-width:969px) {
    body {
        font-size: 14pt;
    }
    #main {
        margin: 0 160px 0 0px;
    }
    #custom-side-ad-right {
        display: inline-block !important;
    }
    .responsive-right {
        display: block !important;
    }
    #suggestions_right {
        display: block;
    }
    .responsive-right-2 {
        display: block !important;
    }
    .responsive-leader-top {
        display: inline-block !important;
        width: 600px !important;
    }
    .responsive-leader {
        display: block !important;
        width: 600px !important;
    }
    .responsive-leader-middle {
        display: inline-block !important;
        width: 600px !important;
    }
    .responsive-mobile-banner-top-parent {
        display: none;
    }
    .responsive-mobile-banner-top {
        display: none;
    }
    #fun_g_right {
        display: block !important;
    }
}

@media (min-width:611px) and (max-width:759px) {
    body {
        font-size: 14pt;
    }
    .mobile_top_banner {
        padding: 10px;
    }
    .responsive-mobile-big {
        width: 600px;
        height: 250px;
        display: block !important;
        float: left;
    }
    .responsive-handheld-lower {
        display: block !important;
        width: 600px;
        max-width: 98%;
    }
    #lower {
        display: block;
        text-align: center;
        clear: both;
        margin: auto;
        position: relative;
    }
    .responsive-mobile-big-1 {
        display: block !important;
    }
    .responsive-mobile-big-2 {
        display: block !important;
    }
    .responsive-mobile-banner {
        display: block !important;
    }
    .responsive-mobile-banner-top-parent {
        display: inline-block !important;
    }
    .responsive-mobile-banner-top {
        display: block !important;
    }
    .create_intro {
        font-size: 10pt;
    }
    #lower_buttons {
        display: none;
    }
    #options {
        display: none;
    }
    #options_mobile {
        display: block;
    }
}

@media (max-width:610px) {
    body {
        font-size: 14pt;
    }
    .mobile_top_banner {
        padding: 10px;
    }
    #outer {
        min-width: auto;
    }
    #main {
        width: 100%;
    }
    #menu-main {
        width: 100%;
    }
    #right {
        display: none;
    }
    #left {
        display: none;
    }
    .inner {
        padding: 6px;
    }
    h1#retro {
        color: #000000;
        font-size: 20pt !important;
        font-family: 'McLaren', Verdana, sans-serif;
        letter-spacing: 5px;
    }
    h2#retro {
        color: #000000;
        font-size: 16pt !important;
        font-family: 'McLaren', Verdana, sans-serif;
        letter-spacing: 4px;
    }
    .profile_page h1#retro,
    .profile_page h2#retro {
        font-size: 18pt !important;
    }
    #titleImg {
        width: 90%;
    }
    #tagLine {
        margin: 0;
        padding: 0 6px 6px 6px;
        font-size: 10pt;
    }
    .desc {
        font-size: 12pt;
        font-weight: normal;
    }
    .sn_icons {
        display: none;
    }
    #lower {
        display: block;
        margin: auto;
        text-align: center;
        overflow: auto;
    }
    .responsive-handheld-lower {
        display: block !important;
        height: 250px;
    }
    .responsive-mobile-big-1 {
        display: block !important;
    }
    .responsive-mobile-banner-top-parent {
        display: inline-block !important;
    }
    .responsive-mobile-banner-top {
        display: block !important;
    }
    .responsive-mobile-banner {
        display: block !important;
    }
    #lower_buttons {
        display: none;
    }
    #options {
        display: none;
    }
    #options_mobile {
        display: block;
    }
    .social_toolbar div {
        width: 22px;
    }
    .social_label {
        display: none;
    }
    .homepage_intro {
        display: none;
    }
    .create_intro {
        display: none;
    }
    .top_note {
        display: none;
    }
    .card_game_image_medium {
        display: none;
    }
    .card_game_image_small {
        display: block;
    }
    .about_aardgo {
        font-size: 11pt;
    }
    .disclaimer {
        font-size: 9pt;
    }
    .family_warning {
        margin: 2px auto;
    }
    #header {
        height: 36px;
        margin: 0 0 2px 0;
        position: relative;
    }
    #header .brand_text {
        display: none;
    }
    #search_form {
        padding: 0;
        font-size: 10pt;
    }
    #search_form input {
        font-size: 10pt;
        height: 14pt;
        width: 150px;
    }
    #search_form button {
        font-size: 8pt;
        height: 26px;
        width: 32px;
        position: relative;
        top: -2px;
    }
}

@media (max-width:310px) {
    body {
        font-size: 12pt;
    }
    .mobile_top_banner {
        padding: 10px;
    }
    h1#retro,
    h2#retro {
        font-size: 15pt !important;
        letter-spacing: 6px;
    }
    .profile_page h1#retro,
    .profile_page h2#retro {
        font-size: 13pt !important;
    }
    #lower_buttons {
        display: none;
    }
    #options {
        display: none;
    }
    #options_mobile {
        display: block;
    }
    .social_toolbar {
        display: none;
    }
    #header .icon {
        display: none;
    }
}

@media (min-width:320px) and (max-width:420px) and (orientation:portrait) {
    .responsive-mobile-banner-top-parent {
        display: none !important;
    }
    .responsive-mobile-banner-top {
        display: none !important;
    }
}

#right {
    position: sticky;
    top: 0px;
    z-index: 100;
}

#left {
    position: sticky;
    top: 0px;
    z-index: 100;
}

.m_desc {
    display: none;
}

.names {
    text-align: left;
    max-width: 700px;
    margin: auto;
}

.name {
    margin: 10px auto 20px 0;
    text-align: center;
    font-size: 13pt;
    color: #666666;
    max-width: 500px;
}

.name_heading {
    display: block;
    font-size: 20pt;
    letter-spacing: 2px;
    color: #000000;
    padding: 2px 0 2px 8px;
    font-weight: normal;
}

.nickname {
    font-weight: normal;
}

.see_profile {
    margin: 6px 0 10px 0;
}

.particular_name {
    color: #000000;
}

h1 {
    margin-top: 6px !important;
}

.names h1 {
    font-size: 12pt;
    font-family: Century Gothic, Verdana;
    font-weight: normal;
    text-align: center;
    margin-top: 2px;
    margin-bottom: 10px !important;
}

.names h2 {
    font-size: 10pt;
    text-align: left;
    display: inline;
    margin-bottom: 20px !important;
    padding-bottom: 2px;
    line-height: 1.2em;
}

.names h3 {
    text-align: center;
}

.nickname_h3 {
    max-width: 500px;
}

.names h4 {
    text-align: center;
    max-width: 500px;
}

.names ul {
    margin: 2px 0px 2px 80px;
}

.names li {
    margin-left: 80px;
}

h2.food {
    font-size: 10pt;
}

.remove_name_button {
    background-color: transparent;
    font-size: 9pt;
    border: none;
    color: #000000;
    padding: 3px 6px;
    margin: 0 0 0 2px;
    -moz-border-radius: 28px;
    -webkit-border-radius: 28px;
    border-radius: 28px;
    -webkit-appearance: none;
}

.remove_name_button:hover {
    background-color: #5cbf2a;
    border: none;
}

.remove_name_button {
    float: right;
    background-color: #333333;
    color: #ffffff;
}

ul.examples_chosen {
    list-style-type: none;
    padding: 10px 0;
    font-size: 0.9em;
}

fieldset {
    max-width: 500px;
    margin: auto;
}

.button_link {
    background: none!important;
    color: #366ac9 !important;
    border: none;
    padding: 0!important;
    font-size: 13pt !important;
    cursor: pointer;
}

pre {
    text-align: left;
}

.add_section_button {
    max-width: 700px;
    margin: 10px 0;
    text-align: right;
}

.name_message {
    margin: 10px auto;
    text-align: center;
    display: inline;
    font-size: 11pt;
}

.name_list {
    max-width: 200px;
    float: left;
    height: 260px;
    text-align: center;
    color: #646464;
}

.name_list h3 {
    font-weight: normal;
    color: #379e92;
    text-align: center;
}

.name_item {
    text-align: center;
    max-width: 500px;
    margin: 6px auto;
}

.try {
    font-size: 12pt;
}

.username_item {
    text-align: center;
    max-width: 500px;
    font-family: courier;
}

.check_div {
    width: 120px;
    height: 40px;
    display: none;
    text-align: left;
    vertical-align: top;
    font-size: 10pt;
}

.cover {
    max-width: 250px;
    float: right;
}

.blurb {
    text-align: left;
}

.external_content_warning {
    background: white;
    margin: 6px auto;
    font-size: 10pt;
    padding: 2px;
}

.refresh_div {
    max-width: 350px;
    width: 96%;
    text-align: center;
    margin: 6px auto;
    padding: 6px;
    font-size: 11pt;
    background: #ffffff;
    border-radius: 10px;
}

.refresh_div p {
    padding: 0;
    margin: 4px;
}

.refresh_div .button {
    font-size: 13pt;
}

.fantasy_checkbox_div_wrapper {
    margin: 10px auto;
    text-align: left;
    max-width: 720px;
    padding: 0;
}

.fantasy_checkbox_div {
    display: inline-block;
    min-width: 180px;
    font-size: 11pt;
}

.cross_site_ad {
    background: #ffffff;
    width: 180px;
    padding: 10px 3px;
    margin: 6px auto;
    font-weight: 10pt;
    border-radius: 3px;
}

@media (max-width:610px) {
    .cover {
        float: none;
        margin: auto;
    }
    .profile ul {
        margin: 2px 0px 2px 40px;
    }
    .profile li {
        margin-left: 40px;
    }
    .name_list {
        max-width: 100%;
        float: none;
        height: auto;
    }
}

#cookie_notice {
    flex: 0 0 auto;
    vertical-align: center;
    text-align: center;
    background-color: #2AC5D6;
    z-index: 1;
    padding: 16px 2px 16px 2px;
    color: #000000;
    font-size: 14pt;
}

#cookie_notice a {
    text-decoration: none;
    color: #ffffff;
}

#cookie_hide,
#cookie_show {
    cursor: pointer;
}

#cookie_accept {
    font-size: 1.5em;
    padding: 5px 0;
}

#cookie_accept_personalised {
    font-size: 1.5em;
}

#cookie_accept_non_personalised {
    font-size: 1em;
}

@media (max-width:480px),
(max-height:480px) {
    #cookie_notice {
        font-size: 10pt;
    }
}

@media (min-width:320px) and (max-width:983px) and (orientation: portrait) {
    #cookie_notice {
        padding-bottom: 100px;
    }
}