/*======================  pritam singh =====================*/

@import url('https://fonts.googleapis.com/css?family=Montserrat');
body{
  margin:0;
  padding: 0;
  background: #0059d5f0;
  font-family: 'Montserrat', sans-serif;
}
h1,
h2,
h3,
h4,
h5{
  
  font-family: 'Montserrat', sans-serif;
  color : white;
}
.h1,
.h2,
.h3,
.h4,
.h5{
  /**/
  font-family: 'Montserrat', sans-serif; 
  color : white;

}

p{
  color : white;
}

a {
  color : white;
}


.nameList li a:hover {
  color : red!important;
}

.nameList li:hover {
  color : red!important;
}



.btn:focus{
  box-shadow: none !important;
  outline: none !important;
}

input:focus{
  box-shadow: none !important;
  outline: none !important;
}

.dropdown{
  cursor: pointer;
}

.top-main-nav{
  background: white;
    box-shadow: 1px 2px 3px #d6d6d6;
}

.top-main-nav .dropdown:hover>.dropdown-menu {
  display: block;
}

.top-main-nav .dropdown-menu {
  top: 95% !important;
  padding: 0 0 !important;
  border: 1px solid rgba(214, 212, 212, 0.15) !important;
    box-shadow: 1px 2px 3px grey !important;
}
.top-main-nav .dropdown-item{
  padding: .65rem 1.5rem;
}


.navbar-light .navbar-nav .nav-link {
    color: rgb(35, 162, 239);
    font-weight: 600;
    transition: .5s;
}

.navbar-light .navbar-nav .nav-link:hover{
    color: rgb(254, 4, 4);
    font-weight: 600;
    transition: .5s;
}

.main-slider img {
    height: 350px;
    object-fit: cover;
}

}
.navbar{
  box-shadow: 1px 2px 3px #e0e0e2;
}

.site-name h1{
  font-weight: 700;
  background: linear-gradient(to bottom, #ffffff, #a7e7ea, #ffffff);
      background: -webkit-linear-gradient(to bottom, #ffffff, #a7e7ea, #ffffff);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    margin-bottom: 0 !important;
    text-transform: uppercase;
}

.footer-section{
    background: #2d2731;
    color: white;
}

footer{
    background: black;
    color: white;
}

.foot-common{
  height: 4px;
    width: 40px;
    background: #6868d4;
    transform: skew(30deg);
    margin-bottom: 10px;
}

.select {
    display: block;
    /*border-top-left-radius: 40px;*/
    /*border-bottom-left-radius: 40px;*/
    padding: 7px 20px;
    border: 1px solid gray;
}


.btn-custom{
     padding: 10px 24px !important;
        background: linear-gradient(45deg, #5aacf3, #6867d3);
    color: white !important;
    text-transform: uppercase;
    border: transparent !important;
    font-size: 14px !important;
    position: relative;
    z-index: 1;
    border-radius: 30px;
    transition: .5s;
    overflow: hidden;
}

.btn-custom:before{
  content: '';
  position: absolute;
  left: -50%;
  top: 0px;
  height: 100%;
  width: 50%;
  background: #1bc5d6;
  z-index: -1;
  transition: .5s;
}
.btn-custom:after{
  content: '';
  position: absolute;
  right: -50%;
  top: 0px;
  height: 100%;
  width: 50%;
  background: #1bc5d6;
  z-index: -1;
  transition: .5s;
}
.btn-custom:hover.btn-custom:before{
   left: 0;
   transition: .5s;
}
.btn-custom:hover.btn-custom:after{
  right: 0;
  transition: .5s;
}

/*===== footer =====*/
.footer-section .social{
  height: 40px;
    width: 40px;
    margin: 0px 20px;
    border: 1px solid white;
    line-height: 40px;
    transform: rotate(-45deg);
    text-align: center;
    color: white;
    transition: .5s;
}
.footer-section .social:hover{
    background: linear-gradient(45deg, #5aacf3, #6867d3);
    transition: .5s;
}

.footer-section .social i{
  transform: rotate(45deg);
  transition: .5s;
}

.navbar-light .navbar-toggler {
    color: rgba(0,0,0,.5);
    border-color: rgba(0, 0, 0, 0) !important;
}

/*===== selection section ====*/


.site-name{
  padding-top: 100px;
}

.selction-sec .click-box a{
    display: block;
    background: white;
    border-radius: 5px;
    color: #1b54d6;
    transition: .4s;
}
.selction-sec .click-box a:hover{
  transition: .4s;
  color: #1bc5d6;
  text-decoration: none;
}
.namelist{
  display: flex;
  justify-content: space-between;
}
.selction-sec .click-box{
    box-shadow: 1px 8px 10px #bdbdbd;
padding: 10px;
background: #ffff;
margin-bottom: 30px;
border-radius: 5px;
transition: .4s;
min-height: 205px;
}
.selction-sec .click-box:hover{
 box-shadow: 0px 7px 10px 3px #bdbdbd;
 transform: translate(0px, -10px);
transition: .4s;
}
.selction-sec .click-box img{
     width: 100%;
    height: 125px;
    margin-bottom: 5px;
}

.about-sec h4{
  text-transform: uppercase;
  font-weight: 600;
}
.about-sec .seperator{
  height: 4px;
  width: 90px;  
  background: black;
  display: block;
  margin: 0px auto 20px;
}

/*==== form section style ===*/
.form-sec{
  padding-top: 50px;
}
.form-sec .form-custom{
    padding: 7px 20px;
    border-radius: 40px;
    border: 1px solid gray;
    width: 100%;
}
.form-sec .gr-input{
  width: 76%;
    display: block;
    /*border-top-left-radius: 40px;*/
    /*border-bottom-left-radius: 40px;*/
    padding: 7px 20px;
    border: 1px solid gray;
}
.form-sec .white-box{
    padding: 30px;
    background: #fffefef2;
    border-radius: 7px;
    /* height: 100%; */
    text-align: center;
}

.white-box p {
  color: black;
}

.navbar a {
  color: black;
}

.click-box h5 
{
  color: black;
}

.navbar-brand h4 
{
  color: blue;
  font-weight: 600;
}

.nameList li {
  color : white;
}

.white-box h3
{
  color : black;
}

.form-sec .white-box h4 {
  background: #0f61d7;
    line-height: 2;
    border-radius: 5px;
}


.form-sec .input-group{
  flex-wrap: nowrap;
}

@media screen and (min-width:768px){
  .form-sec .white-box{
    height: 100%;
  }
}

@media screen and (max-width:767px){
  .navbar-brand h4{
    font-size : 15px;
  
  }
}